.b-checkbox {
  @include flex-row(nowrap);
  @include flex-center;
  cursor: pointer;
}

.b-checkbox__input {
  width: 18px;
  height: 18px;
  margin-right: offset(1);
  cursor: pointer;
  -webkit-appearance: auto !important;

  &:after {
    display: none !important;
  }

  &:before {
    display: none !important;
  }

  outline: none !important;
}

.b-checkbox__label {
  width: calc(100% - 18px - #{offset(1)});
  font-size: 14px;
  font-weight: 400;
  color: $dark;
  cursor: pointer;
}