.b-types-list {
  max-height: 320px;
  overflow: auto;
  background-color: $white;
}

.b-types-list__item {
  position: relative;
  padding: offset(1) offset(2);
  color: $dark;
  font-size: 14px;
  text-align: center;

  &:not(:last-child) {
    border-bottom: 1px solid $lightGray;
  }

  @include hover {
    color: $primary;
  }

  &.disabled {
    color: $darkGray;

    & span:nth-child(1) {
      position: absolute;
      width: 100%;
      top: 0;
      height: 100%;
      left: 0;
      opacity: 0;
    }
  }
}