// fonts
$mainFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// colors
$dark: #030E19;
$white: #ffffff;
$primary: #2271b1;
$darkGray: #959595;
$gray: #ccd0d4;
$lightGray: #eeeeee;
$red: #a00;

// sizes
$offset: 8px;

//
$transition: all 0.2s ease-in-out;